body {
    font-family: Arial, sans-serif;
    background-color: #FAF1D2;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

#adicionar-btn {
    background: none; /* Remove o fundo do botão */
    border: none;
    color: #ff7730; /* Define a cor do texto */
    font-size: 1rem; /* Ajuste o tamanho da fonte conforme necessário */
    cursor: pointer; /* Mantém o cursor de ponteiro para indicar interatividade */
    padding: 0; /* Remove o preenchimento padrão */
    font-family: inherit; /* Usa a mesma fonte que o restante do texto */
}
#adicionar-btn:hover{
    text-decoration: underline;
}

#overlay {
    display: none; /* Começa escondido */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Certifique-se que está acima de todos os outros elementos */
}

#produto-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    z-index: 1001; /* O formulário precisa estar acima do overlay */
}

#produto-form input[type="text"],
#produto-form input[type="checkbox"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    margin: 10px auto; /* Centraliza horizontalmente */
    display: block; /* Necessário para o margin auto funcionar */
}

#produto-form button {
    background-color: #EFB02C;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#produto-form button:hover {
    background-color: #f44336;
}

#cancelar-btn {
    background-color: #f44336;
}

#cancelar-btn:hover {
    background-color: #e53935;
}

.hidden {
    display: none;
}

#produtos-table {
    width: 50%;
    margin: auto;
    border-collapse: collapse;
}

#produtos-table th, #produtos-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

#produtos-table th {
    background-color: #f4f4f4;
}

.hidden {
    display: none;
}

h1 {
    font-size: 3rem;
    color: #ff7730;
    margin-bottom: 30px;
    text-align: center;
}

h1 span {
    color: #3390B7;
}

h1 span:last-child {
    color: #4caf50;
}

h3, p {
    color: #f9f9f9;
    text-align: center;
}

.columns {
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 400px;
}

.column {
    width: 250px; /* Ajuste a largura conforme desejado */
    height: 100%; /* As colunas ocuparão toda a altura definida */
    background-color: #EFB02C;
    padding: 10px;
    display: flex;
    flex-direction: column; /* Permite que as tarefas sejam empilhadas verticalmente */
    overflow: hidden; /* Remove a barra de rolagem */
}

.column div {
    word-wrap: break-word; /* Permite que as palavras longas quebrem para a próxima linha */
}

.column:nth-child(2) {
    background-color: #3390B7;
}

.column:nth-child(3) {
    background-color: #ED0F23;
}

.tasks {
    flex: 1; /* Faz com que a div de tarefas ocupe o espaço restante da coluna */
    overflow-y: auto; /* Adiciona uma barra de rolagem se houver muitas tarefas */
    margin-top: 10px; /* Espaçamento acima das tarefas */
}

.add {
    color: #EFB02C;
    text-align: center;
}



